# Data Manipulation using Pandas

Author: Andreas Chandra \
[Email](mailto:andreas@jakartaresearch.com) [Github](https://github.com/andreaschandra) [Blog](https://datafolksid.xyz/andreas)

## Contents

Day 1
- A Brief Overview of Pandas
- Read/Write Pandas
- Creating DataFrame from Dict/List
- Basic Functionalities and Attributes (Head, Tail, Dtype, Shape, Describe, Missing Values)
- Type Casting
- Renaming Column
- Slicing and Dicing DataFrame (Filtering)

Day 2
- Reindexing
- Dropping and Poping
- Numeric Calculation
- String Operation

Day 3
- Sorting
- Grouping
- Pandas Apply and Map Function
- Appending, Joining, Merging, Concatenating 2 or more DataFrame
- Pivot and Stack

Day 4
- Brief of Timeseries
- Window Function
- Basic Plotting

## Day 1

### Overview of Pandas

pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

Installation \
`pip install pandas`

Repo: https://github.com/pandas-dev/pandas

In [6]:
# import library
import pandas as pd

### Read/Write Functions

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

Common read functions \
`read_csv()` `read_excel()` `read_table()` `read_json()`

In [7]:
d_data = pd.read_csv("telcom_user_extended.csv")

In [12]:
d_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,number_of_send_message,number_of_received_message,minutes_of_call,num_of_call,internet_usage_megabytes,netflix_usage_megabytes,youtube_usage_megabytes,game_usage_megabytes,average_internet_ping,average_internet_speed_in_megabytes
0,9381-NDKME,Female,1,Yes,No,24,No,No phone service,DSL,No,...,10.0,34.0,126.0,14.0,2629.0,976.0,599.0,8.0,15.0,20.425580
1,3831-YCPUO,Female,No,Yes,Yes,72,Yes,No,Fiber optic,Yes,...,135.0,95.0,70.0,42.0,37258.0,7090.0,5330.0,6664.0,15.0,21.759168
2,1506-YJTYT,Male,No,Yes,Yes,45,Yes,Yes,DSL,Yes,...,78.0,79.0,168.0,22.0,19331.0,7069.0,6596.0,761.0,15.0,22.123215
3,2272-UOINI,Female,No,No,No,7,Yes,No,DSL,Yes,...,66.0,89.0,166.0,28.0,16221.0,8202.0,6167.0,608.0,15.0,22.169331
4,1641-BYBTK,Male,No,No,Yes,6,Yes,No,No,No internet service,...,66.0,70.0,132.0,22.0,17526.0,9309.0,8484.0,613.0,15.0,22.263776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7709,6332-FBZRI,Male,No,Yes,Yes,67,Yes,Yes,DSL,Yes,...,88.0,84.0,107.0,23.0,26881.0,10126.0,5983.0,587.0,224.0,10.154946
7710,7351-KYHQH,Female,1,No,No,7,Yes,No,DSL,No,...,12.0,33.0,133.0,10.0,2188.0,777.0,556.0,4.0,224.0,10.155405
7711,6261-LHRTG,Female,No,No,No,26,Yes,No,DSL,No,...,73.0,43.0,165.0,24.0,10327.0,5479.0,9307.0,685.0,225.0,10.065166
7712,1728-BQDMA,Female,No,No,No,2,Yes,No,DSL,No,...,89.0,58.0,93.0,24.0,19240.0,5877.0,5635.0,881.0,225.0,10.065489
7713,0134-XWXCE,Female,1,No,No,44,Yes,No,DSL,No,...,20.0,25.0,141.0,16.0,19613.0,581.0,725.0,4.0,225.0,10.066998

Common write functions \
`to_csv` `to_json` `to_excel`

In [10]:
d_data.to_csv("telecom_users_2.csv", index=False)

In [13]:
d_data.to_json("telecom_users_2.json", orient="records")

### Creating DataFrame from List/Dictionary

From list

In [38]:
user_profile = [
    {"gender": "L", "age": 20, "last education": "high school", "is_married": True},
    {"id": 102, "gender": "P", "age": 18, "last education": "middle school", "is_married": False},
    {"id": 103, "gender": "L", "age": 19, "last education": "high school", "is_married": True},
    {"id": 104, "gender": "P", "age": 28, "last education": "master's degree", "is_married": False},
    {"id": 105, "gender": None, "age": 21, "last education": "bachelor's degree", "is_married": True}
]

In [39]:
# YOUR CODE
d_user_profile = pd.DataFrame(user_profile)

In [40]:
d_user_profile

  gender  age     last education  is_married     id
0      L   20        high school        True    NaN
1      P   18      middle school       False  102.0
2      L   19        high school        True  103.0
3      P   28    master's degree       False  104.0
4   None   21  bachelor's degree        True  105.0

From list

In [18]:
number_list_only = [
    [101,"L",20,'high school', True], 
    [102,'P',18,'middle school', False],
    [103,'L',19,'high school', True],
    [104,'P',28,"master's degree", False],
    [105,None,21,"bachelor's degree", True],
]

In [23]:
# YOUR CODE
d_students = pd.DataFrame(data=number_list_only)

In [25]:
d_students.columns = ["id", "gender", "age", "last_education", "is_pass"]

In [28]:
d_students

    id gender  age     last_education  is_pass
0  101      L   20        high school     True
1  102      P   18      middle school    False
2  103      L   19        high school     True
3  104      P   28    master's degree    False
4  105   None   21  bachelor's degree     True

From dictionary

In [33]:
user_profile_dict = {
    'id': [101,102,103,104,105],
    'gender': ["L", "P", "L", "P", None],
    'last education': ["high school", "middle school", "high school", "master's degree", "bachelor's degree"],
    'is_married': [True, False, True, False, True]
}

In [34]:
# YOUR CODE
pd.DataFrame(user_profile_dict)

    id gender     last education  is_married
0  101      L        high school        True
1  102      P      middle school       False
2  103      L        high school        True
3  104      P    master's degree       False
4  105   None  bachelor's degree        True

### Basic Functionalities

In [41]:
d_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,number_of_send_message,number_of_received_message,minutes_of_call,num_of_call,internet_usage_megabytes,netflix_usage_megabytes,youtube_usage_megabytes,game_usage_megabytes,average_internet_ping,average_internet_speed_in_megabytes
0,9381-NDKME,Female,1,Yes,No,24,No,No phone service,DSL,No,...,10.0,34.0,126.0,14.0,2629.0,976.0,599.0,8.0,15.0,20.425580
1,3831-YCPUO,Female,No,Yes,Yes,72,Yes,No,Fiber optic,Yes,...,135.0,95.0,70.0,42.0,37258.0,7090.0,5330.0,6664.0,15.0,21.759168
2,1506-YJTYT,Male,No,Yes,Yes,45,Yes,Yes,DSL,Yes,...,78.0,79.0,168.0,22.0,19331.0,7069.0,6596.0,761.0,15.0,22.123215
3,2272-UOINI,Female,No,No,No,7,Yes,No,DSL,Yes,...,66.0,89.0,166.0,28.0,16221.0,8202.0,6167.0,608.0,15.0,22.169331
4,1641-BYBTK,Male,No,No,Yes,6,Yes,No,No,No internet service,...,66.0,70.0,132.0,22.0,17526.0,9309.0,8484.0,613.0,15.0,22.263776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7709,6332-FBZRI,Male,No,Yes,Yes,67,Yes,Yes,DSL,Yes,...,88.0,84.0,107.0,23.0,26881.0,10126.0,5983.0,587.0,224.0,10.154946
7710,7351-KYHQH,Female,1,No,No,7,Yes,No,DSL,No,...,12.0,33.0,133.0,10.0,2188.0,777.0,556.0,4.0,224.0,10.155405
7711,6261-LHRTG,Female,No,No,No,26,Yes,No,DSL,No,...,73.0,43.0,165.0,24.0,10327.0,5479.0,9307.0,685.0,225.0,10.065166
7712,1728-BQDMA,Female,No,No,No,2,Yes,No,DSL,No,...,89.0,58.0,93.0,24.0,19240.0,5877.0,5635.0,881.0,225.0,10.065489
7713,0134-XWXCE,Female,1,No,No,44,Yes,No,DSL,No,...,20.0,25.0,141.0,16.0,19613.0,581.0,725.0,4.0,225.0,10.066998

In [46]:
d_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,number_of_send_message,number_of_received_message,minutes_of_call,num_of_call,internet_usage_megabytes,netflix_usage_megabytes,youtube_usage_megabytes,game_usage_megabytes,average_internet_ping,average_internet_speed_in_megabytes
0,9381-NDKME,Female,1,Yes,No,24,No,No phone service,DSL,No,...,10.0,34.0,126.0,14.0,2629.0,976.0,599.0,8.0,15.0,20.425580
1,3831-YCPUO,Female,No,Yes,Yes,72,Yes,No,Fiber optic,Yes,...,135.0,95.0,70.0,42.0,37258.0,7090.0,5330.0,6664.0,15.0,21.759168
2,1506-YJTYT,Male,No,Yes,Yes,45,Yes,Yes,DSL,Yes,...,78.0,79.0,168.0,22.0,19331.0,7069.0,6596.0,761.0,15.0,22.123215
3,2272-UOINI,Female,No,No,No,7,Yes,No,DSL,Yes,...,66.0,89.0,166.0,28.0,16221.0,8202.0,6167.0,608.0,15.0,22.169331
4,1641-BYBTK,Male,No,No,Yes,6,Yes,No,No,No internet service,...,66.0,70.0,132.0,22.0,17526.0,9309.0,8484.0,613.0,15.0,22.263776

In [47]:
d_data.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,number_of_send_message,number_of_received_message,minutes_of_call,num_of_call,internet_usage_megabytes,netflix_usage_megabytes,youtube_usage_megabytes,game_usage_megabytes,average_internet_ping,average_internet_speed_in_megabytes
7709,6332-FBZRI,Male,No,Yes,Yes,67,Yes,Yes,DSL,Yes,...,88.0,84.0,107.0,23.0,26881.0,10126.0,5983.0,587.0,224.0,10.154946
7710,7351-KYHQH,Female,1,No,No,7,Yes,No,DSL,No,...,12.0,33.0,133.0,10.0,2188.0,777.0,556.0,4.0,224.0,10.155405
7711,6261-LHRTG,Female,No,No,No,26,Yes,No,DSL,No,...,73.0,43.0,165.0,24.0,10327.0,5479.0,9307.0,685.0,225.0,10.065166
7712,1728-BQDMA,Female,No,No,No,2,Yes,No,DSL,No,...,89.0,58.0,93.0,24.0,19240.0,5877.0,5635.0,881.0,225.0,10.065489
7713,0134-XWXCE,Female,1,No,No,44,Yes,No,DSL,No,...,20.0,25.0,141.0,16.0,19613.0,581.0,725.0,4.0,225.0,10.066998

In [48]:
d_data.shape

(7714, 36)

Statistical descriptive numeric columns

In [54]:
# YOUR CODE
d_data.describe()

,tenure,MonthlyCharges,kodepos,age,number_of_send_message,number_of_received_message,minutes_of_call,num_of_call,internet_usage_megabytes,netflix_usage_megabytes,youtube_usage_megabytes,game_usage_megabytes,average_internet_ping,average_internet_speed_in_megabytes
count,7714.000000,7714.000000,7714.000000,7714.000000,7714.000000,7714.000000,7714.000000,7714.000000,7714.000000,7714.000000,7714.000000,7714.000000,7714.000000,7714.000000
mean,32.325771,64.650745,60350.855328,36.130801,71.699507,72.963573,114.844957,26.724138,16232.904071,5734.112523,5728.490796,1878.779881,113.831216,18.939252
std,24.448769,30.211436,25567.055467,15.339467,45.090918,43.368072,52.609379,12.695575,11877.008036,3347.839763,3341.541199,2705.862163,67.431557,5.002963
min,0.000000,18.250000,10010.000000,17.000000,10.000000,20.000000,30.000000,10.000000,1025.000000,512.000000,512.000000,1.000000,15.000000,5.247223
25%,9.000000,35.150000,39146.250000,25.000000,28.000000,37.000000,73.000000,16.000000,6094.000000,965.000000,962.000000,9.000000,58.000000,17.046077
50%,29.000000,70.300000,64432.000000,33.000000,64.000000,64.000000,119.000000,24.000000,14239.500000,6624.000000,6662.500000,761.000000,116.000000,19.072952
75%,55.000000,90.000000,81462.750000,41.000000,96.000000,96.000000,144.000000,31.000000,23504.250000,8478.000000,8425.750000,1759.000000,145.750000,23.305500
max,72.000000,118.750000,99980.000000,84.000000,179.000000,179.000000,299.000000,59.000000,51160.000000,10239.000000,10239.000000,10235.000000,299.000000,24.735832

In [55]:
# YOUR CODE
d_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7714 entries, 0 to 7713
Data columns (total 36 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customerID                           7714 non-null   object
 1   gender                               7581 non-null   object
 2   SeniorCitizen                        7714 non-null   object
 3   Partner                              7693 non-null   object
 4   Dependents                           7714 non-null   object
 5   tenure                               7714 non-null   int64
 6   PhoneService                         7714 non-null   object
 7   MultipleLines                        7714 non-null   object
 8   InternetService                      7714 non-null   object
 9   OnlineSecurity                       7714 non-null   object
 10  OnlineBackup                         7714 non-null   object
 11  DeviceProtection                     7714 non-null   object
 12  TechSupport                          7714 non-null   object
 13  StreamingTV                          7714 non-null   object
 14  StreamingMovies                      7714 non-null   object
 15  Contract                             7714 non-null   object
 16  PaperlessBilling                     7714 non-null   object
 17  PaymentMethod                        7714 non-null   object
 18  MonthlyCharges                       7714 non-null   float64
 19  TotalCharges                         7714 non-null   object
 20  Churn                                7714 non-null   object
 21  InstallApp                           38 non-null     object
 22  email                                7714 non-null   object
 23  kodepos                              7714 non-null   int64
 24  RecordedDate                         7714 non-null   object
 25  age                                  7714 non-null   float64
 26  number_of_send_message               7714 non-null   float64
 27  number_of_received_message           7714 non-null   float64
 28  minutes_of_call                      7714 non-null   float64
 29  num_of_call                          7714 non-null   float64
 30  internet_usage_megabytes             7714 non-null   float64
 31  netflix_usage_megabytes              7714 non-null   float64
 32  youtube_usage_megabytes              7714 non-null   float64
 33  game_usage_megabytes                 7714 non-null   float64
 34  average_internet_ping                7714 non-null   float64
 35  average_internet_speed_in_megabytes  7714 non-null   float64
dtypes: float64(12), int64(2), object(22)
memory usage: 2.1+ MB

Counting missing values

In [61]:
# YOUR CODE
d_data.isna().sum()

customerID                                0
gender                                  133
SeniorCitizen                             0
Partner                                  21
Dependents                                0
tenure                                    0
PhoneService                              0
MultipleLines                             0
InternetService                           0
OnlineSecurity                            0
OnlineBackup                              0
DeviceProtection                          0
TechSupport                               0
StreamingTV                               0
StreamingMovies                           0
Contract                                  0
PaperlessBilling                          0
PaymentMethod                             0
MonthlyCharges                            0
TotalCharges                              0
Churn                                     0
InstallApp                             7676
email                                     0
kodepos                                   0
RecordedDate                              0
age                                       0
number_of_send_message                    0
number_of_received_message                0
minutes_of_call                           0
num_of_call                               0
internet_usage_megabytes                  0
netflix_usage_megabytes                   0
youtube_usage_megabytes                   0
game_usage_megabytes                      0
average_internet_ping                     0
average_internet_speed_in_megabytes       0
dtype: int64

### Fill Missing Values

by `Series.fillna(value)` \
by `DataFrame.fillna(value)`

In [63]:
# YOUR CODE
d_data.Partner.unique()

array(['Yes', 'No', nan], dtype=object)

In [69]:
d_data.Partner.fillna('No', inplace=True)

In [71]:
# YOUR CODE
d_data.Partner.isna().sum()

0

### Type Casting

https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#basics-dtypes

using `DataFrame.astype({'col': int, 'col2': str})` \
using `Series.astype(int|str|float)`

Let's say we want to change TotalCharges from `str` to `float` \
Replace white space with `None`

In [78]:
# YOUR CODE
d_data.TotalCharges = d_data.TotalCharges.replace(' ', None)

Change type to float

In [ ]:
# YOUR CODE
d_data.TotalCharges = d_data.TotalCharges.astype(float)

Check the type

In [83]:
d_data.dtypes

customerID                              object
gender                                  object
SeniorCitizen                           object
Partner                                 object
Dependents                              object
tenure                                   int64
PhoneService                            object
MultipleLines                           object
InternetService                         object
OnlineSecurity                          object
OnlineBackup                            object
DeviceProtection                        object
TechSupport                             object
StreamingTV                             object
StreamingMovies                         object
Contract                                object
PaperlessBilling                        object
PaymentMethod                           object
MonthlyCharges                         float64
TotalCharges                           float64
Churn                                   object
InstallApp                              object
email                                   object
kodepos                                  int64
RecordedDate                            object
age                                    float64
number_of_send_message                 float64
number_of_received_message             float64
minutes_of_call                        float64
num_of_call                            float64
internet_usage_megabytes               float64
netflix_usage_megabytes                float64
youtube_usage_megabytes                float64
game_usage_megabytes                   float64
average_internet_ping                  float64
average_internet_speed_in_megabytes    float64
dtype: object

### Renaming Columns

In [84]:
d_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,number_of_send_message,number_of_received_message,minutes_of_call,num_of_call,internet_usage_megabytes,netflix_usage_megabytes,youtube_usage_megabytes,game_usage_megabytes,average_internet_ping,average_internet_speed_in_megabytes
0,9381-NDKME,Female,1,Yes,No,24,No,No phone service,DSL,No,...,10.0,34.0,126.0,14.0,2629.0,976.0,599.0,8.0,15.0,20.425580
1,3831-YCPUO,Female,No,Yes,Yes,72,Yes,No,Fiber optic,Yes,...,135.0,95.0,70.0,42.0,37258.0,7090.0,5330.0,6664.0,15.0,21.759168
2,1506-YJTYT,Male,No,Yes,Yes,45,Yes,Yes,DSL,Yes,...,78.0,79.0,168.0,22.0,19331.0,7069.0,6596.0,761.0,15.0,22.123215
3,2272-UOINI,Female,No,No,No,7,Yes,No,DSL,Yes,...,66.0,89.0,166.0,28.0,16221.0,8202.0,6167.0,608.0,15.0,22.169331
4,1641-BYBTK,Male,No,No,Yes,6,Yes,No,No,No internet service,...,66.0,70.0,132.0,22.0,17526.0,9309.0,8484.0,613.0,15.0,22.263776

Rename some columns to this

'customerID':'customer_id' \
'SeniorCitizen': 'senior_citizen' \
'PhoneService': 'phone_service'

In [87]:
# YOUR CODE
d_data.rename(columns={"customerID": "customer_id", "SeniorCitizen": "senior_citizen", "PhoneService": "phone_service"}, inplace=True)

In [88]:
d_data.head()

,customer_id,gender,senior_citizen,Partner,Dependents,tenure,phone_service,MultipleLines,InternetService,OnlineSecurity,...,number_of_send_message,number_of_received_message,minutes_of_call,num_of_call,internet_usage_megabytes,netflix_usage_megabytes,youtube_usage_megabytes,game_usage_megabytes,average_internet_ping,average_internet_speed_in_megabytes
0,9381-NDKME,Female,1,Yes,No,24,No,No phone service,DSL,No,...,10.0,34.0,126.0,14.0,2629.0,976.0,599.0,8.0,15.0,20.425580
1,3831-YCPUO,Female,No,Yes,Yes,72,Yes,No,Fiber optic,Yes,...,135.0,95.0,70.0,42.0,37258.0,7090.0,5330.0,6664.0,15.0,21.759168
2,1506-YJTYT,Male,No,Yes,Yes,45,Yes,Yes,DSL,Yes,...,78.0,79.0,168.0,22.0,19331.0,7069.0,6596.0,761.0,15.0,22.123215
3,2272-UOINI,Female,No,No,No,7,Yes,No,DSL,Yes,...,66.0,89.0,166.0,28.0,16221.0,8202.0,6167.0,608.0,15.0,22.169331
4,1641-BYBTK,Male,No,No,Yes,6,Yes,No,No,No internet service,...,66.0,70.0,132.0,22.0,17526.0,9309.0,8484.0,613.0,15.0,22.263776

### Duplicate Data

find duplicate entries using `DataFrame.duplicated()` \
In this case we remove duplicate by customer_id and keep the first row

In [91]:
# YOUR CODE
# using duplicated()
d_data[d_data.duplicated(subset=["customer_id"])]

,customer_id,gender,senior_citizen,Partner,Dependents,tenure,phone_service,MultipleLines,InternetService,OnlineSecurity,...,number_of_send_message,number_of_received_message,minutes_of_call,num_of_call,internet_usage_megabytes,netflix_usage_megabytes,youtube_usage_megabytes,game_usage_megabytes,average_internet_ping,average_internet_speed_in_megabytes
5986,6223-DHJGV,Female,No,No,No,42,Yes,No,No,No internet service,...,45.0,85.0,113.0,27.0,4421.0,7126.0,10071.0,797.0,112.0,19.379743
5987,1732-FEKLD,Female,No,No,No,54,Yes,Yes,Fiber optic,No,...,80.0,84.0,179.0,27.0,16090.0,9676.0,8584.0,999.0,112.0,19.379970
5988,7554-NEWDD,Male,No,No,No,10,Yes,Yes,No,No internet service,...,98.0,179.0,65.0,32.0,28264.0,5140.0,9199.0,2164.0,112.0,19.381090
5989,7572-KPVKK,Male,No,No,Yes,62,Yes,Yes,Fiber optic,No,...,61.0,77.0,60.0,21.0,19807.0,7709.0,9849.0,728.0,112.0,19.381623
5990,6946-LMSQS,Male,1,Yes,No,25,Yes,Yes,Fiber optic,Yes,...,23.0,36.0,279.0,10.0,3031.0,967.0,1004.0,4.0,112.0,19.381734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7709,6332-FBZRI,Male,No,Yes,Yes,67,Yes,Yes,DSL,Yes,...,88.0,84.0,107.0,23.0,26881.0,10126.0,5983.0,587.0,224.0,10.154946
7710,7351-KYHQH,Female,1,No,No,7,Yes,No,DSL,No,...,12.0,33.0,133.0,10.0,2188.0,777.0,556.0,4.0,224.0,10.155405
7711,6261-LHRTG,Female,No,No,No,26,Yes,No,DSL,No,...,73.0,43.0,165.0,24.0,10327.0,5479.0,9307.0,685.0,225.0,10.065166
7712,1728-BQDMA,Female,No,No,No,2,Yes,No,DSL,No,...,89.0,58.0,93.0,24.0,19240.0,5877.0,5635.0,881.0,225.0,10.065489
7713,0134-XWXCE,Female,1,No,No,44,Yes,No,DSL,No,...,20.0,25.0,141.0,16.0,19613.0,581.0,725.0,4.0,225.0,10.066998

In [93]:
# YOUR CODE
# using drop_duplicates
d_data.drop_duplicates(subset="customer_id", inplace=True)

In [94]:
# YOUR CODE
# check shape
d_data.shape

(5986, 36)

### Slicing

slicing and dicing in Pandas can be done using `.loc` `.iloc` `.at` `.iat` or just bracket

Slice the dataframe for the first five row and select `gender`, `senior_citizen`, and `partner`

In [96]:
# YOUR CODE
d_data.loc[:4, ["gender", "senior_citizen", "Partner"]]

   gender senior_citizen Partner
0  Female              1     Yes
1  Female             No     Yes
2    Male             No     Yes
3  Female             No      No
4    Male             No      No

In [98]:
d_data[["gender", "senior_citizen", "Partner"]].head()

   gender senior_citizen Partner
0  Female              1     Yes
1  Female             No     Yes
2    Male             No     Yes
3  Female             No      No
4    Male             No      No

Slice the dataframe by using `gender` columns that has value `Female`

In [100]:
# YOUR CODE
d_data.gender.unique()

array(['Female', 'Male', nan], dtype=object)

In [105]:
d_data[d_data.gender == "Female"][["customer_id", "gender", "senior_citizen"]]

     customer_id  gender senior_citizen
0     9381-NDKME  Female              1
1     3831-YCPUO  Female             No
3     2272-UOINI  Female             No
7     8654-DHAOW  Female             No
8     7826-VVKWT  Female              1
...          ...     ...            ...
5971  7033-CLAMM  Female             No
5972  7067-KSAZT  Female              1
5978  8745-PVESG  Female             No
5983  4238-JSSWH  Female              1
5985  0835-JKADZ  Female             No

[2887 rows x 3 columns]

In [126]:
for columns in cat_columns:
    print(d_data[columns].value_counts())

Male      2999
Female    2887
Name: gender, dtype: int64

In [113]:
d_data.InternetService.unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [118]:
d_data[(d_data.InternetService.isin(["DSL", "Fiber optic"])) & (d_data.tenure > 10)]

,customer_id,gender,senior_citizen,Partner,Dependents,tenure,phone_service,MultipleLines,InternetService,OnlineSecurity,...,number_of_send_message,number_of_received_message,minutes_of_call,num_of_call,internet_usage_megabytes,netflix_usage_megabytes,youtube_usage_megabytes,game_usage_megabytes,average_internet_ping,average_internet_speed_in_megabytes
0,9381-NDKME,Female,1,Yes,No,24,No,No phone service,DSL,No,...,10.0,34.0,126.0,14.0,2629.0,976.0,599.0,8.0,15.0,20.425580
1,3831-YCPUO,Female,No,Yes,Yes,72,Yes,No,Fiber optic,Yes,...,135.0,95.0,70.0,42.0,37258.0,7090.0,5330.0,6664.0,15.0,21.759168
2,1506-YJTYT,Male,No,Yes,Yes,45,Yes,Yes,DSL,Yes,...,78.0,79.0,168.0,22.0,19331.0,7069.0,6596.0,761.0,15.0,22.123215
6,3889-VWBID,Male,No,Yes,Yes,68,Yes,No,DSL,Yes,...,42.0,54.0,82.0,26.0,4852.0,9187.0,8473.0,701.0,15.0,22.434314
8,7826-VVKWT,Female,1,Yes,Yes,24,Yes,No,Fiber optic,No,...,21.0,28.0,139.0,16.0,11755.0,888.0,909.0,6.0,15.0,22.605444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5978,8745-PVESG,Female,No,No,No,57,No,No phone service,DSL,Yes,...,22.0,26.0,147.0,15.0,18049.0,845.0,930.0,1.0,299.0,6.155343
5980,7537-CBQUZ,Male,1,No,No,63,Yes,Yes,Fiber optic,Yes,...,18.0,37.0,222.0,11.0,1763.0,544.0,765.0,5.0,299.0,6.182691
5982,7663-ZTEGJ,Male,No,No,Yes,29,Yes,Yes,Fiber optic,No,...,41.0,74.0,130.0,20.0,15494.0,7110.0,9321.0,583.0,299.0,6.527040
5983,4238-JSSWH,Female,1,Yes,No,35,Yes,Yes,Fiber optic,No,...,22.0,25.0,122.0,14.0,9380.0,897.0,969.0,6.0,299.0,6.782600
5985,0835-JKADZ,Female,No,No,No,71,Yes,Yes,Fiber optic,No,...,56.0,70.0,141.0,26.0,19075.0,7667.0,6710.0,714.0,299.0,7.917201

### Assignin new columns and replace

In [121]:
# YOUR CODE
d_data["is_married"] = "No"

In [122]:
d_data.head()

,customer_id,gender,senior_citizen,Partner,Dependents,tenure,phone_service,MultipleLines,InternetService,OnlineSecurity,...,number_of_received_message,minutes_of_call,num_of_call,internet_usage_megabytes,netflix_usage_megabytes,youtube_usage_megabytes,game_usage_megabytes,average_internet_ping,average_internet_speed_in_megabytes,is_married
0,9381-NDKME,Female,1,Yes,No,24,No,No phone service,DSL,No,...,34.0,126.0,14.0,2629.0,976.0,599.0,8.0,15.0,20.425580,No
1,3831-YCPUO,Female,No,Yes,Yes,72,Yes,No,Fiber optic,Yes,...,95.0,70.0,42.0,37258.0,7090.0,5330.0,6664.0,15.0,21.759168,No
2,1506-YJTYT,Male,No,Yes,Yes,45,Yes,Yes,DSL,Yes,...,79.0,168.0,22.0,19331.0,7069.0,6596.0,761.0,15.0,22.123215,No
3,2272-UOINI,Female,No,No,No,7,Yes,No,DSL,Yes,...,89.0,166.0,28.0,16221.0,8202.0,6167.0,608.0,15.0,22.169331,No
4,1641-BYBTK,Male,No,No,Yes,6,Yes,No,No,No internet service,...,70.0,132.0,22.0,17526.0,9309.0,8484.0,613.0,15.0,22.263776,No

Replace values
- Replace values `No` to `0` in senior_citizen

In [127]:
d_data.senior_citizen.unique()

array(['1', 'No'], dtype=object)

In [130]:
d_data.loc[d_data.senior_citizen == "No", "senior_citizen"] = 0

In [131]:
# YOUR CODE
d_data

,customer_id,gender,senior_citizen,Partner,Dependents,tenure,phone_service,MultipleLines,InternetService,OnlineSecurity,...,number_of_received_message,minutes_of_call,num_of_call,internet_usage_megabytes,netflix_usage_megabytes,youtube_usage_megabytes,game_usage_megabytes,average_internet_ping,average_internet_speed_in_megabytes,is_married
0,9381-NDKME,Female,1,Yes,No,24,No,No phone service,DSL,No,...,34.0,126.0,14.0,2629.0,976.0,599.0,8.0,15.0,20.425580,No
1,3831-YCPUO,Female,0,Yes,Yes,72,Yes,No,Fiber optic,Yes,...,95.0,70.0,42.0,37258.0,7090.0,5330.0,6664.0,15.0,21.759168,No
2,1506-YJTYT,Male,0,Yes,Yes,45,Yes,Yes,DSL,Yes,...,79.0,168.0,22.0,19331.0,7069.0,6596.0,761.0,15.0,22.123215,No
3,2272-UOINI,Female,0,No,No,7,Yes,No,DSL,Yes,...,89.0,166.0,28.0,16221.0,8202.0,6167.0,608.0,15.0,22.169331,No
4,1641-BYBTK,Male,0,No,Yes,6,Yes,No,No,No internet service,...,70.0,132.0,22.0,17526.0,9309.0,8484.0,613.0,15.0,22.263776,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,8779-QRDMV,Male,1,No,No,1,No,No phone service,DSL,No,...,38.0,244.0,12.0,3046.0,937.0,777.0,8.0,299.0,6.436184,No
5982,7663-ZTEGJ,Male,0,No,Yes,29,Yes,Yes,Fiber optic,No,...,74.0,130.0,20.0,15494.0,7110.0,9321.0,583.0,299.0,6.527040,No
5983,4238-JSSWH,Female,1,Yes,No,35,Yes,Yes,Fiber optic,No,...,25.0,122.0,14.0,9380.0,897.0,969.0,6.0,299.0,6.782600,No
5984,2740-JFBOK,Male,0,No,No,10,Yes,Yes,No,No internet service,...,177.0,53.0,33.0,45238.0,7397.0,6438.0,2132.0,299.0,7.825139,No
5985,0835-JKADZ,Female,0,No,No,71,Yes,Yes,Fiber optic,No,...,70.0,141.0,26.0,19075.0,7667.0,6710.0,714.0,299.0,7.917201,No

- Replace Values Internet Connection `No` to `Wireless`

In [132]:
d_data.InternetService.unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [135]:
# YOUR CODE
d_data.InternetService = d_data.InternetService.str.replace("No", "Wireless")

In [145]:
d_data.InternetService.replace("Fiber optic", "FO")

0            DSL
1             FO
2            DSL
3            DSL
4       Wireless
          ...
5981         DSL
5982          FO
5983          FO
5984    Wireless
5985          FO
Name: InternetService, Length: 5986, dtype: object

In [136]:
d_data.head()

,customer_id,gender,senior_citizen,Partner,Dependents,tenure,phone_service,MultipleLines,InternetService,OnlineSecurity,...,number_of_received_message,minutes_of_call,num_of_call,internet_usage_megabytes,netflix_usage_megabytes,youtube_usage_megabytes,game_usage_megabytes,average_internet_ping,average_internet_speed_in_megabytes,is_married
0,9381-NDKME,Female,1,Yes,No,24,No,No phone service,DSL,No,...,34.0,126.0,14.0,2629.0,976.0,599.0,8.0,15.0,20.425580,No
1,3831-YCPUO,Female,0,Yes,Yes,72,Yes,No,Fiber optic,Yes,...,95.0,70.0,42.0,37258.0,7090.0,5330.0,6664.0,15.0,21.759168,No
2,1506-YJTYT,Male,0,Yes,Yes,45,Yes,Yes,DSL,Yes,...,79.0,168.0,22.0,19331.0,7069.0,6596.0,761.0,15.0,22.123215,No
3,2272-UOINI,Female,0,No,No,7,Yes,No,DSL,Yes,...,89.0,166.0,28.0,16221.0,8202.0,6167.0,608.0,15.0,22.169331,No
4,1641-BYBTK,Male,0,No,Yes,6,Yes,No,Wireless,No internet service,...,70.0,132.0,22.0,17526.0,9309.0,8484.0,613.0,15.0,22.263776,No

### Save latest data to csv for the next day

In [151]:
d_data.to_csv("telcom_user_extended_day2.csv", index=False)

## Exercise

1. Casting PostalCode integer to string
2. Fill missing values in `Gender` to `Not disclose`
3. Create new column based on `Tenure` if `Tenure > 50` then `Old` else `New` 
4. Filter DataFrame `Gender=Male` and `Partner=No` and `TotalCharges>=100`
5. Replace `Electronic check` in `PaymentMethod` to 'E-Wallet'

In [1]:
import pandas as pd

In [14]:
d_data = pd.read_csv("telcom_user_extended_day2.csv")

In [15]:
d_data.kodepos = d_data.kodepos.astype(str)

In [16]:
d_data.kodepos

0       51365
1       41104
2       59928
3       55765
4       35433
        ...
5981    87516
5982    91526
5983    96751
5984    83782
5985    90126
Name: kodepos, Length: 5986, dtype: object

In [20]:
def assign_tenure_cat(x):
    if x < 25:
        return "A"
    elif x < 50:
        return "B"
    else:
        return "C"

In [22]:
d_data.tenure.apply(assign_tenure_cat)

0       A
1       C
2       B
3       A
4       A
       ..
5981    A
5982    B
5983    B
5984    A
5985    C
Name: tenure, Length: 5986, dtype: object

In [11]:
d_data.loc[d_data.tenure <= 50, "tenure_category"] = "New"

In [12]:
d_data.tenure_category.value_counts()

New    4194
Old    1792
Name: tenure_category, dtype: int64