# Data Manipulation using Pandas

Author: Alamsyah Hanza \
[Github](https://github.com/alamhanz)

## Contents

Day 3
- Sorting
- Grouping
- Pandas Apply and Map Function
- Appending, Joining, Merging, Concatenating 2 or more DataFrame
- Pivot and Stack

## Day 3

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
PATH_DATA = '../../'
d_data = pd.read_csv(PATH_DATA+'telcom_user_extended.csv', usecols = ['customerID', 'gender',
       'tenure',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn',
        'age',
       'minutes_of_call',
       'game_usage_megabytes',
       'average_internet_speed_in_megabytes'])

d_data = d_data.drop_duplicates()
d_data.columns

In [ ]:
len(d_data['customerID']),len(d_data['customerID'].unique())

### 1. Sorting

In [ ]:
d_data.head()

In [ ]:
d_data['tenure'].sort_values().head()

sort values using tenure

In [ ]:
# YOUR CODE

sort values using tenure with lower to higher

In [ ]:
# YOUR CODE

sort values using tenure and PaymentMethod and get top 20

In [ ]:
# YOUR CODE

sort values using tenure with Ascending and PaymentMethod with Descending \
and get the top 20 rows

In [ ]:
# YOUR CODE

### 2. Grouping

In [ ]:
help(d_data.groupby('gender'))

group with gender and get the mean

In [ ]:
# YOUR CODE

group by gender and get the mean then transpose `.T`

In [ ]:
# YOUR CODE

group by gender and churn then calculate the mean of MonthlyCharges

In [ ]:
# YOUR CODE

In [ ]:
# YOUR CODE
# groupby using aggregate
d_data.groupby(['gender','Churn']).agg({'MonthlyCharges' : [np.mean,np.size],
                                        'game_usage_megabytes': [np.median]})

### 3. Apply and Map Function

Common functions `apply()` `applymap()` `map()`

<!-- ![image](images/map.png) -->
<img src="images/map.png" alt="Drawing" style="width: 450px;"/>

In [ ]:
d_data.head()

In [ ]:
# do a cleansing
d_data.TotalCharges = d_data.TotalCharges.replace(' ',0)
d_data.TotalCharges = d_data.TotalCharges.astype(float)

#### 3.1 `apply()`

using apply function to calculate number of month by TotalCharges divided by MonthlyCharges

In [ ]:
d_data['number_of_month'] = d_data.apply(lambda row: np.floor(row.TotalCharges / row.MonthlyCharges), axis = 1)

In [ ]:
d_data.head()

Categorize Total Charges if higher than 4000 as high else low

In [ ]:
d_data['TotalCharges_type'] = d_data.apply(lambda row: 'high' if row.TotalCharges > 4000 else 'low' , axis = 1)

In [ ]:
d_data.head()

#### 3.4 `applymap()`

applymap game_usage_megabytes, average_internet_speed_in_megabytes to get kilobytes

In [ ]:
# YOUR CODE

In [ ]:
d_data[['customerID','gender','game_usage_kilobytes', 'average_internet_speed_in_kilobytes']].head()

### 4. Append, Concate 2, Join, Merge

    The join method works best when we are joining dataframes on their indexes (though you can specify another column to join on for the left dataframe).
    The merge method is more versatile and allows us to specify columns besides the index to join on for both dataframes.

In [ ]:
d_data.head()

In [ ]:
d_data1 = d_data[['customerID','gender','tenure']].sample(4)
d_data1.index = [1,2,3,4]
d_data2 = d_data[['customerID','gender','tenure']].sample(4)
d_data2.index = [1,2,3,4]
d_data3 = d_data[['customerID','gender','tenure']].sample(4)
d_data3.index = [1,2,6,7]
d_data4 = d_data[['customerID','gender','tenure','age']].sample(4)
d_data4.index = [1,2,6,7]

#### 4.1 `append`

In [ ]:
# help(pd.DataFrame.append)

In [ ]:
# YOUR CODE

append dataframe with ignore_index

In [ ]:
# YOUR CODE

#### 4.2 `concate`

concate d_data1 and data2 using `concat([])`

In [ ]:
# YOUR CODE

using axis=1

In [ ]:
# YOUR CODE

concat d_data1 and d_data3

In [ ]:
# YOUR CODE

concat d_data1 and d_data4

In [ ]:
# YOUR CODE

#### 4.3 `join`

In [ ]:
d_data_j1 = d_data[['customerID','gender']].sample(10)
d_data_j1

In [ ]:
d_data_j2 = d_data[['tenure','TotalCharges']]
d_data_j2.head(30)

left join `d_data_j1` and `d_data_j2` and save to djoin1

In [ ]:
# YOUR CODE

right join d_data_j1 and d_data_j2 and save to djoin2

In [ ]:
# YOUR CODE

In [ ]:
djoin2.dropna()

#### 4.4 `merge`

In [ ]:
d_data_m1 = d_data[d_data.PaymentMethod.isin(['Bank transfer (automatic)','Credit card (automatic)'])][['customerID','gender','PaymentMethod']].sample(5)
d_data_m1

In [ ]:
dg1 = d_data[d_data.PaymentMethod.isin(['Bank transfer (automatic)','Electronic check','Mailed check'])].groupby('PaymentMethod')['minutes_of_call'].median().reset_index()
dg1.columns = ['PaymentMethod','median_minutes_of_call']
dg1

merge d_data_m1 and dg1 on PaymentMethod using left index

In [ ]:
# YOUR CODE

merge d_data_m1 and dg1 on PaymentMethod using right index

In [ ]:
# YOUR CODE

### 5. Pivot and Stack

#### 5.1 `Pivot`

pivot d_data by customerID as index, PaymentMethod as columns, and tenure as values

In [ ]:
# YOUR CODE

pivot_table  d_data by customerID as index, PaymentMethod as columns, and mean of the tenure as values \
and save to `dpiv1`

In [ ]:
# YOUR CODE

#### 5.2 `stack`

In [ ]:
dpiv1.stack()

### Exercise

    1. Sorting from highest Average 'TotalCharges' group by ['gender','Churn','PaymentMethod']
    2. Apply x*60 on minutes_of_call (as second_of_call) then calculate avg minutes_of_call and avg second_of_call with grouping ['PaymentMethod']
    3. 
    4.